body{
    background-color:rgb(29, 40, 47);
    color: beige;
}
canvas{
    background-color: white;
    /* z-index: -1; */
}
.reports-item{
    width: 5%;
    height: 50px;
    background-color: transparent
}
.reports-span{
    font-weight: 500;
    padding-right: -100px;
    margin-right: -100px;
}
.toggle-btn{
    position: absolute;
    top: 15px;
    left: 200px;
    background-color: lightgray;
    border-radius: 4px
}
.cust:hover{
background-color: beige
}
.cust{
    color: beige;
    border: solid beige 2px
}
.cust-bottom{
    border-bottom: solid beige 2px;
    }
.parallax {
    /* The image used */
    background-image: url("./images/background.jpg");
      /* Set a specific height */
    min-height: 450px; 
      /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* opacity: 0.8; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bar{
    justify-content: left ;
    color: beige;
}

.info-div{
    position: absolute;
    width: 160px;
    height: 60px;
    top: 95px;
    left: 140px;
    font-size: 0.8em;
    line-height: 1.2em;
    display: none;
    
}
.info-div img{
font-size: 0.6em
}
.info-div ul{
    list-style-type: none;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: rgb(29, 40, 47)
}
#coin-card{
    background-color:  rgb(245, 245, 220, .2);
    
    color: beige;
    border: solid beige 3px;
    border-radius: 5px
}
#content{
    width: 100%
}
#about-div{
    display: none
}
#canvas-div{
    display: none
}
.page-nav{
    display: none;
}
.popup{
    position: fixed;
    z-index: 9999;
    width: 80%;
    height: 300px;
    background-color: beige;
    border: solid black 3px;
    border-radius: 20px;
    top: 200px;
    left: 10%;
    display:none;
    color :rgb(29, 40, 47);
    /* text-align: center */
}
.coin-span{
    font-size: 1.3em;
    font-weight: 500;
    vertical-align: bottom
}
.delete-coin{
    border-radius: 20px
}
/* .coins-list{
    display: none
} */
.cancel-btn{
    position:relative;
    top: 120px;
    left:60%;
}
.loader {
    height: 20px;
    width: 100%;
    top:100px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 20px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
}